<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.cirrus.devloop</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/buddy/projects/cirrus-digest/dev_agent.py</string>
        <string>nightly</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>21</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/buddy/projects/cirrus-digest/logs/devloop.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/buddy/projects/cirrus-digest/logs/devloop-error.log</string>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
